<!DOCTYPE html>
<html>
<head>
    <title>GAY SEX</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div>
    <img src="{{ url_for('static', filename='gaysex.jpg') }}" alt="GAY SEX" />
    <button>GAY SEX</button>
    <p>Gay has been sexed </p><p id="count">{{ count }}</p><p> times</p>
    </div>

    <audio id="sound" src="{{ url_for('static', filename='kita_sex.mp3') }}"></audio>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>